services:
  app:
    build:
      context: .
    image: nextjs-ai
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
          ignore:
             - node_modules/
        - action: rebuild
          path: package.json 
